---
import { getCollection } from 'astro:content';

const discLibraries = await getCollection('discLibraries');
const courses = await getCollection('courses');

const librariesWithCourses = discLibraries
  .map((lib) => {
    const nearbyCourses = courses.filter(c => c.data.discLibrary?.id === lib.id);
    return { lib, nearbyCourses };
  })
  .sort((a, b) => a.lib.data.location.localeCompare(b.lib.data.location));
---

<ul>
{librariesWithCourses.map(({ lib, nearbyCourses }) => (
<li>
<a href={lib.data.url}>{lib.data.location}</a> ({lib.data.council})
  {nearbyCourses.length > 0 && (
      <> - near
        {nearbyCourses.map((course, i) => (
          <>
            {i > 0 && (i === nearbyCourses.length - 1 ? ' and ' : ', ')}
            <a href={`/courses/${course.id}`}>{course.data.title}</a>
          </>
        ))}
      </>
    )}
  </li>
))}
</ul>
